[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = warning
